OPENAI_API_KEY=sk-...
# DB_PATH=/data/db/messepass.db  (Default, nur lokal überschreiben mit ./data/db/messepass.db)

APP_USER_1=admin:neoception2025
APP_USER_2=user1:messepass
APP_USER_3=user2:messepass
